.git
.results
scripts
*Dockerfile*
docker-compose*
node_modules
.env
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
*.swp
/scripts
.next
.next/
node_modules/

.yarn/cache
.yarn/install-state.gz